/*
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/*Fin CSS Reset >>>>>>>>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
*/



#borde-arriba{
    width: 100%;
    margin-right: 100px;
    margin-top: -20px;
    background-color: black;
    opacity: 0.2;
    padding: 10px;

}

@keyframes move {
	0% {
		background-position: 0 60%, 0 50%;
	}
	100% {
	  background-position: 0 60%, 100% 50%;
	}
}



.imagen-move {
  background-color: darkred;
  background-image: url("network.svg") , radial-gradient(200px 500px at center, #ff8300 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0));
  background-size: 100%, 50% 100%;
  background-position: 0 60%, 0 100%;
  animation: move 5s linear infinite;

  /* Extra Styles */
  height: 100px;
  /*box-shadow: inset 0 0 25px rgba(0,0,0,.5);*/
  padding: 8px;
  border-right: 0;
  border-left: 0;
    z-index: 90;
}


.hr {
    border-top: 1px solid #a91717;
            width: 100%;
}

#fondo{
    background-color: black;
}

#TopMenu{
    height: 70px;
    width: 100%;
    background-color: #E10707;
    font-family: "verdana";

}

#btn{
    background-color: #E10707;
    font-family: "verdana";
    color: white;
    border: none;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 60px;
    font-size: 20px;
    overflow: hidden;

}

#btnin{
    background-color: #E10707;
    font-family: "verdana";
    color: white;
    border: none;
    margin-top: 20px;
    margin-right: 60px;
    font-size: 20px;
    overflow: hidden;
    top: 15px;
    right: 0px;
    position: absolute;

}

#btnac{
    background-color: #E10707;
    font-family: "verdana" !important;
    color: white;
    border: none;
    margin-top: 20px;
    margin-right: 60px;
    font-size: 20px;
    overflow: hidden;
    width: 100%;
}

#btn77{
    display: block;
    width: 100%;
    font-family: "verdana" !important;
    border: none;
    overflow: hidden;
    font-weight: bold;


}

#fondointermedio{
    border: 0px;
    height: 12px;
    background-image: url(../img/barrita.png);
}

#video-background{

    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    padding-top: 0px;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 3;
}

.para{
    font-family: "verdana" !important;


}

.para2{
    font-family: "verdana" !important;

}

#ing{
    padding-left: 20px;
}

.pixelp{
    font-weight: bold;
    text-decoration: none !important;
    color: black;
    overflow: hidden;
}

a:hover{
    color: red !important;
}

#bod{



}

#abo{

    position: relative;
    float: right;
    background-color: white;
    font-family: "verdana" !important;
    max-width: 100%;
}

#abou{

  max-width: 100%;
  position: relative;
  float: right;
  background-color: white;
  font-family: "verdana" !important;
}

#copa{
    background-image: url(../img/copas2.png);
    text-align: center;
    font-size: 150px;
    font-weight: bold;
    color: black;
    max-width:100%;

}

#copas{
    max-width:100%;
}

#back{
    padding-left: 150px;
    padding-right: 150px;
    font-family: "verdana" !important;
}

#back2{
    padding-left: 200px;
    padding-right: 200px;
    font-family: "verdana" !important;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

#contai{
   padding-left: 150px;
   max-width: 100%;

}

.container{
  background-color: white;
}

#container {

}

#container2 {
  position: relative;

}

#container3 {
  position: relative;
  width: 300px;
  color: "green";

}

#image {

    max-width: 100% !important;


}

#cont {
float: left;
height: 90px;
}

.cont2 {
float: right;
height: 120px;
width: 350px;
margin-right: 100px;
margin-top: 0px;
background-color: black;
opacity: 0.3;
    padding: 10px;

}

#text {
  z-index: 100;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 630px;
  padding-right: 50px;
  font-family: "verdana" !important;
}

#compania-text{
  z-index: 100;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 630px;
  padding-right: 50px;
  font-family: "verdana" !important;

}

.footer {

  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;

}

#texto{
  font-family: "verdana" !important;
}

#textocont{
  font-family: "verdana" !important;
  font-weight: bold;
  font-size: 41px;
  text-align: center;
}
#textocon{
  font-family: "verdana" !important;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}
